/*

  configuration/dynamic
    stores values, other than typography, that change on a site-by-site basis

*/


// ========================================
// Asset Paths
// ========================================

// The path where compiled / exported files reside

$layout-dir: '/dist/';
$image-dir: $layout-dir + 'images/';
$font-dir: $layout-dir + 'fonts/';


// ========================================
// Column Setup
// ========================================

// http://codepen.io/mimoduo/pen/vOMxLE

// Max width of overall site content
$column-boundary: 1000;

// Number of columns the grid is based off of
$column-base: 12;

// Half the space between each column
// Defines the bottom margin of each column
$column-between: 1%;

// Do you need to utilize the push feature of this grid system?
$column-push-desired: true;

// Do you need to utilize the pull feature of this grid system?
$column-pull-desired: false;


// ========================================
// Situational Flexpoints
// ========================================

// !: Inactive by default

// http://github.com/nhall
// This is one of Nick Hall's ideas
// These occur when items in relation to each other change at the same point

// When will content be at a comfortable time to breath in a two column layout?
$create-columns: 600;

// When does the off-canvas / drawer disappear?
$drawer-disappears: 600;


// ========================================
// Brand Colors
// ========================================

// http://codepen.io/mimoduo/pen/ZGZPjy

// Personal naming preference
// $a1, $a2. stands for - $accent#
// $s1, $s2. stands for - $shade#

// Alternative naming convention
// $pink, $purple. stands for - actual name of color
