/*

  configuration/dynamic
    stores values that change on a site-by-site basis

*/


// ========================================
// Asset Paths
// ========================================

$layout-dir: '/dist/';
$image-dir: $layout-dir + 'images/';
$font-dir: $layout-dir + 'fonts/';


// ========================================
// Column Setup
// ========================================

// Number of columns the grid is based off of
$column-base: 12;

// Half the space between each column
// Defines the bottom margin of each column
$column-between: 1%;

// Do you need to utilize the push feature of this grid system?
$column-push-desired: true;

// Do you need to utilize the pull feature of this grid system?
$column-pull-desired: true;


// ========================================
// Situational Flexpoints
// ========================================

// http://github.com/nhall
// Totally got this idea from Nick Hall
// These occur when items in relation to each other change at the same point

$create-columns: 600;
$drawer-disappears: 600;


// ========================================
// Brand Colors
// ========================================

// http://coolors.co/

$diamond: #222;
$electric: #333;

$dynamite: #444;
$flash: #555;

$sun: rgba(#fff, .1);
$moon: rgba(#000, .1);
