/*

  configuration/static
    stores values that never change including breakpoints, gamedex, font weights

*/


// ========================================
// Breakpoints
// ========================================

// Declare breakpoints on a variable by variable basis
// Used to increase performance of the @media mixin

$mini: 300;
$tiny: 400;
$small: 500;
$medium: 600;
$big: 700;
$large: 800;
$huge: 900;
$nation: 1000;
$world: 1100;
$galaxy: 1200;
$universe: 1300;
$penguindrum: 1400;

// Create a multidimensial array to store breakpoint aliases & respective values
// Used to assign classes to the grid system within mimo/_grid.scss

$breakpoints: (
  ('mini', 300px),
  ('tiny', 400px),
  ('small', 500px),
  ('medium', 600px),
  ('big', 700px),
  ('large', 800px),
  ('huge', 900px),
  ('nation', 1000px),
  ('world', 1100px),
  ('galaxy', 1200px),
  ('universe', 1300px),
  ('penguindrum', 1400px)
);


// ========================================
// Gamedex
// ========================================

// http://css-tricks.com/handling-z-index/

$underground: 100;
$background: 200;
$character: 300;
$foreground: 400;
$sunglasses: 800;


// ========================================
// Font Weights
// ========================================

// http://help.typekit.com/customer/portal/articles/6855-using-multiple-weights-and-styles

$thin: 100;
$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$heavy: 800;
$black: 900;
