/*

  configuration/typography
    stores values such as heading sizes, font families

*/


// ========================================
// Font Families
// ========================================

// https://www.google.com/fonts
// http://www.fontsquirrel.com/
// https://typekit.com/

$sans-serif: null;

$serif: null;

$slab: null;

$display: null;

$handwriting: null;

$monospaced: null;

$font-icon: 'mimo';


// ========================================
// Body Font Properties
// ========================================

$content-size: 16;
$content-line: 22;


// ========================================
// Heading Properties
// ========================================

$h1-size: 40;

$h2-size: 35;

$h3-size: 30;

$h4-size: 25;

$h5-size: 20;

$h6-size: $content-size;
