/*

  utilities/common
    mixins that are frequently used to achieve a common task

*/


// ========================================
// Media
// ========================================

// Example usage:
// .element {
//   @include media('small') {}
// }

@mixin media($breakpoint, $adapt: false) {

  // $adapt: true
  // the returned value will be larger or smaller depending on $content-size
  // this is good for styling generic columns with variable size text
  @if $adapt {

    @media (min-width: em($breakpoint)) {
      @content;
    }

  }
  // $adapt: false
  // this is meant for frequent use, when the exact breakpoint is required
  @else {

    @media (min-width: $breakpoint / 16 * 1em) {
      @content;
    }

  }

}


// ========================================
// Clearfix
// ========================================

// Example Usage:
// .contains-floats {
//   @include clear;
// }

@mixin clear {
  zoom: 1;

  &:after {
    display: table;
    clear: both;
    content: '';
  }

}

.clear {
  @include clear;
}


// ========================================
// Icon
// ========================================

// Example usage:
// .heart-icon {
//   &:before {
//     @include icon('\f0d2');
//   }
// }

@mixin icon($glyph: '') {
  font-family: $font-icon;
  font-weight: normal;
  content: $glyph;
  speak: none;
}

.icon {

  &:before {
    @include icon;
  }

}


// ========================================
// Cover
// ========================================

// Example usage:
// .overlay {
//   @include cover;
// }

@mixin cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cover {
  @include cover;
}
