/*

  components/buttons
    contains generic & unique buttons/triggers
    allows extension of generic buttons

*/


// ========================================
// Generic Buttons
// ========================================

.button {
  display: inline-block;
  margin: 0 em(4) em(10) 0;
  padding: em(10) em(20);
  text-align: center;
  cursor: pointer;
  transition:
    border .3s,
    background .3s,
    box-shadow .3s,
    color .3s,
    transform .3s;

  &:hover {}

  &:active {
    transform: scale(.95);
  }

}

.button-modifier {}


// HTML Button
// ----------------------------------------

button {}


// ========================================
// Site Logo Anchor
// ========================================

// Use if the site logo is text based
.site-link {
  display: block;
  text-decoration: none;

  &:hover {}

}

// Use if the site logo is image based
.site-logo {
  display: block;
  overflow: hidden;
  max-width: em(200);
  width: 100%;
  white-space: nowrap;
  background: url($image-dir + 'logo.svg') no-repeat 0 0;
  background-size: contain;
  color: transparent;

  &:hover {
    color: transparent;
  }

}
