/*

  Components/Buttons
    Contains generic buttons
    Allows extension of generic buttons

*/

// ========================================
// Generic Buttons
// ========================================

%button {
  display: inline-block;
  text-align: center;
}

@mixin button($color) {
  background: $color;
  border-color: $color;

  &:hover {
    background: darken($color, 5%);
  }

}
