/*

  components/buttons
    contains generic & unique buttons/triggers
    allows extension of generic buttons

*/


// ========================================
// Generic Buttons
// ========================================

// Defines generic button behavior
%button {
  display: inline-block;
  text-align: center;
}

// Defines button specific behavior
@mixin button($color) {
  background: $color;
  border-color: $color;

  &:hover {
    background: darken($color, 5%);
  }

}

// HTML Button
// ----------------------------------------

button {}

// Extended Button
// ----------------------------------------

.button {
  @extend %button;
  @include button(#eee);
}


// ========================================
// Site Logo Anchor
// ========================================

.site-logo {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  background: url($image-dir + 'logo.svg') no-repeat 0 0;
  background-size: contain;
  color: transparent;

  &:hover {
    color: transparent;
  }

}
