/*

  components/html
    styles for html elements that grab attention or organize data

*/


// ========================================
// Anchors
// ========================================

a {

  &:hover {}

  &:visited {}

}


// ========================================
// Blockquote / Cite
// ========================================

blockquote {
  margin: em(20);

  // Unicode for an open quote
  &:before {
    content: '\201C';
  }

  // Unicode for a closed quote
  &:after {
    content: '\201D';
  }

}

// Cite
// ----------------------------------------

cite {
  font-style: normal;

  &:before {}

}


// ========================================
// Lists
// ========================================

ul,
ol {
  margin: em(20) 0;
}

  li {}


// ========================================
// Paragraphs
// ========================================

p {
  margin: em(20) 0;
}


// ========================================
// Table
// ========================================

table {
  width: 100%;
  border-collapse: collapse;
  margin: em(20) 0;
}

  tr {}

    th,
    td {
      vertical-align: top;
    }

    th {
      padding: em(20);
      font-weight: normal;
      text-align: left;
    }

    td {
      padding: em(20);

      @at-root tr:nth-of-type(odd) td {
        background-color: rgba(#000, .05);
      }

    }
