/*

  components/media
    styles for components contain visual media

*/


// ========================================
// Common Media
// ========================================

img,
canvas,
video,
svg {
  height: auto;
  max-width: 100%;
}


// ========================================
// Figure
// ========================================

figure {
  margin: 0;
}


// ========================================
// Iframes
// ========================================

iframe {
  max-width: 100%;
  width: 100%;
  border: 0;
}
