/*

  mimo/canvas
    contains the sonic slide setup and defaults

*/


// ========================================
// Slideshow Mixin
// ========================================

// |----||------------||----|
// |----||     ~2     ||----|
// |----||------------||----|

@mixin slideshow($max-width: 100%) {
  max-width: $max-width;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
}

// Slideshow Include
// ----------------------------------------

.slideshow {
  @include slideshow;
}


// ========================================
// Slide Mixin
// ========================================

// ||------------||
// ||     ~2     ||
// ||------------||

@mixin transit($transformValue, $axis: x) {

  @if $axis == x {
    transform: translate($transformValue, 0);
  } @else {
    transform: translate(0, $transformValue);
  }

}

@mixin slide($effect: fade, $easing: .3s, $axis: x) {
  @include cover;
  transition:
    opacity $easing,
    visibility $easing,
    transform $easing;

  @if $effect == slide {
    @include transit(-100%, $axis);
  } @else {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }

  // Inactive slide properties
  // ----------------------------------------

  // All slides after the active slide
  &.active ~ * {

    @if $effect == slide {
      @include transit(200%, $axis);
    }

  }

  // The slide next to the active slide
  &.active + * {

    @if $effect == slide {
      @include transit(100%, $axis);
    }

  }

  // Active State
  // ----------------------------------------

  &.active {
    position: relative;

    @if $effect == slide {
      @include transit(0);
    } @else {
      pointer-events: auto;
      opacity: 1;
      visibility: visible;
    }

  }

}

// Slide Include
// ----------------------------------------

// ||--||----||--||
// ||  || ~2 ||  ||
// ||--||----||--||

.slide-item {
  @include slide('slide');
}


// ========================================
// Slideshow Controls
// ========================================

// < Previous  Next >

.controls {
  @include cover;
  z-index: 200;
  height: 100%;
  text-align: center;
  pointer-events: none;
  visibility: hidden;
}

  .control {
    position: absolute;
    top: 0;
    height: 100%;
    cursor: pointer;
    pointer-events: auto;
    visibility: visible;

    &:before {
      @include cover;
      top: 50%;
      font-family: 'FontAwesome';
      transform: translate(0, -50%);
    }

  }

  .prev {
    left: 0;

    &:before {
      content: '\f104';
    }

  }

  .next {
    right: 0;

    &:before {
      content: '\f105';
    }

  }

// Controls Include
// ----------------------------------------

.control {
  width: 15%;
  font-size: 3.5em;
}


// ========================================
// Slideshow Pager
// ========================================

// o o o o o

.pagination {
  @include cover;
  z-index: 200;
  text-align: center;

  span {
    display: inline-block;
    cursor: pointer;
    border-radius: 100%;

    &.active {
      pointer-events: none;
    }

  }

}

// Pagination Include
// ----------------------------------------

.pagination {
  text-align: center;

  span {
    height: em($gutter / 2);
    width: em($gutter / 2);
    margin: 0 em($gutter / 2);
    background: rgba(#fff, .25);

    &:hover {
      background: rgba(#fff, .5);
    }

    &.active {
      background: rgba(#000, .75);
    }

  }

}
